#
# Offroadcode's Mercurial Ignore file
# visit /blog/2012/4/5/mercurial-ignore-file-for-umbraco/ for updates/additions
# Thanks!
#
##### File globs to match ####
syntax: glob
# Data folders/files
*/ExamineIndexes/*
www/App_Data/umbraco.config
*/App_Browsers/*
*/App_Data/TEMP/*
*/_systemUmbracoIndexDontDelete/*

# Dll's and related C# crud
*/bin/Debug/*
*/obj/Debug/*
*/obj/*
*.pdb
*.user
*.DS_Store

# Resharpener
*_ReSharper*

# ImageGen
*/Cached/*
www/media/*/Cached/

# Misc crud
*.orig
*/Thumbs.db
*/log.txt

# For safety's sake
web.config

###### Regular Expression matches #####
syntax: regexp
# None yet!